.button {
  padding: 12px;
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.black {
  background-color: #000;
  color: #fff;
}

.outlineBlack {
  border: 1px solid black;
}