.loadingSpinner {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 14px;
}

.dot {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #fff;
  animation: dot-spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  
  &:nth-child(1) {
    top: 1px;
    left: 1px;
    animation-delay: -0.84s;
  }
  
  &:nth-child(2) {
    top: 1px;
    left: 5px;
    animation-delay: -0.72s;
  }
  
  &:nth-child(3) {
    top: 1px;
    left: 9px;
    animation-delay: -0.6s;
  }
  
  &:nth-child(4) {
    top: 5px;
    left: 9px;
    animation-delay: -0.48s;
  }
  
  &:nth-child(5) {
    top: 9px;
    left: 9px;
    animation-delay: -0.36s;
  }
  
  &:nth-child(6) {
    top: 9px;
    left: 5px;
    animation-delay: -0.24s;
  }
  
  &:nth-child(7) {
    top: 9px;
    left: 1px;
    animation-delay: -0.12s;
  }
  
  &:nth-child(8) {
    top: 5px;
    left: 1px;
    animation-delay: 0s;
  }
}

@keyframes dot-spin {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
