* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'kouzan-mouhitu';
  src: url('/fonts/kouzan-mouhitu.otf') format('opentype');
}

@font-face {
  font-family: 'shokaki-sarari';
  src: url('/fonts/shokaki-sarari.ttf') format('opentype');
}

@font-face {
  font-family: 'stick';
  src: url('/fonts/Stick-Regular.ttf');
}

@font-face {
  font-family: 'yuji-syuku';
  src: url('/fonts/YujiSyuku-Regular.ttf');
}

@font-face {
  font-family: 'noto-serif-jp';
  src: url('/fonts/NotoSerifJP-Regular.otf');
}

@font-face {
  font-family: 'shippori-mincho-bold';
  src: url('/fonts/ShipporiMincho-Bold.ttf');
}