.title {
  padding: 8px;
  text-align: center;
}

.renmeiList {
  display: flex;
  height: 100lvh;
}

.renmeiList__container {
  background-color: rgb(89, 97, 111);
  display: grid;
  place-items: center;
  flex-grow: 1;
  overflow-x: hidden;
  font-family: 'kouzan-mouhitu';
}

.renmeiList__pdf {
  display: grid;
  box-sizing: border-box;
  padding: 0 20px;
  align-items: center;
  flex-grow: 1;
  overflow-x: hidden;

  > div {
    background-color: white;
  }
}

.renmeiList__scrollContainer {
  overflow-x: scroll;
}

.renmeiList__select {
  padding: 8px;
}

.renmeiList__controller {
  flex-shrink: 0;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.renmeiList__buttonContainer {
  height: calc(inherit - 8px);
  max-height: 400px;
  flex-direction: column;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.renmeiList__printButtonContainer {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}
