
.title {
  padding: 8px;
  text-align: center;
}

.renmei-list {
  display: flex;
  flex-direction: column;
}

.renmei-list__canvas {
  display: flex;
  padding: 0 8px;
  overflow-x: scroll;

  canvas {
    margin: 0 auto;
  }
}

.renmei-list__controller {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}
