.title {
  padding: 8px;
  text-align: center;
}

.renmei-list {
  display: flex;
  height: 100lvh;
}

.renmei-list__canvas {
  display: flex;
  padding: 0 8px;
  align-items: center;
  flex-grow: 1;
  background-color: rgb(89, 97, 111);
  overflow-x: scroll;

  canvas {
    margin: 4px;
    height: calc(inherit - 8px);
    max-height: 400px;
    margin: 0 auto;
    background-color: #fff;
  }
}

.renmei-list__select {
  padding: 8px;
}

.renmei-list__controller {
  min-width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.renmei-list__button-container {
  height: calc(inherit - 8px);
  max-height: 400px;
  flex-direction: column;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.renmei-list__print-button-container {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}
