$font-size: 24px;

.RenmaiList {
  display: grid;
  font-size: $font-size;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 40px;
  writing-mode: vertical-rl;
  font-family: 'kouzan-mouhitu';
  // font-family: 'shokaki-sarari';
}

.names {
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-left: 32px;
}

.names__row {
  display: flex;
  flex-direction: column;
  gap: 12px
}

.names__name {
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 255, 0.2);
  }
}

.names__empty-name {
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 255, 0.2);
  }
  &[data-is-edit="true"] {
    border: 1px solid black;
  }
}

.company {
  justify-self: end;
  margin-left: 12px;
  margin-bottom: $font-size * 2;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 255, 0.2);
  }
}

.department {
  justify-self: end;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 255, 0.2);
  }
}